SuperUpdate/UpdateSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SuperUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Settings" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Redirect" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="RedirectURL" type="xs:anyURI" use="required" />
                  <xs:attribute name="UpdaterVersion" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="WindowTitle" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="Title" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="WindowSize" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="Size" use="required" >
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([0-9]+x[0-9]+)|^(Expanded|Contracted){1}$)" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="WindowIcon" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="URL" type="xs:anyURI" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="WindowIconLarge" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="URL" type="xs:anyURI" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="WindowIconLargeAnimated" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="URL" type="xs:anyURI" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Updates" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Update" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="File" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="SHA1" type="xs:string" use="required" />
                        <xs:attribute name="Path" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Version" type="xs:string" use="required" />
                  <xs:attribute name="Channel" type="xs:string" use="required" />
                  <xs:attribute name="DateTime" type="xs:dateTime" use="optional" />
                  <xs:attribute name="ReleaseInfoURL" type="xs:anyURI" use="optional" />
                  <xs:attribute name="ScriptURL" type="xs:anyURI" use="optional" />
                  <xs:attribute name="UpdateMessage" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UpdaterVersion" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>