SuperUpdate/UpdateSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SuperGrate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Settings" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Redirect" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="RedirectURL" type="xs:anyURI" use="required" />
                  <xs:attribute name="UpdaterVersion" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Updates" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Update">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="File" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="Hash" type="xs:string" use="required" />
                        <xs:attribute name="Path" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Script" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="URL" type="xs:anyURI" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Version" type="xs:string" use="required" />
                  <xs:attribute name="DateTime" type="xs:dateTime" use="required" />
                  <xs:attribute name="Channel" type="xs:string" use="required" />
                  <xs:attribute name="ReleaseInfoURL" type="xs:anyURI" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UpdaterVersion" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>